## Exercice 2 : Classification
On peut transformer le problème initial en un problème de classification. Par une méthode de clustering, on peut répartir les charges de chauffage et de climatisation en 3 classes :
faibles, moyennes, élevées. Les données se répartissent alors de la manière suivante :
| Classe | Code de la classe | Nombre d'exemples | Charges totales moyennes |
| ------|------------------ | ---------------- | ------------------------|
| élevée | 0 | 189 | 73.6 |
| moyenne | 1 | 185 | 56.3 |
| faible | 2 | 394 | 29.7 |

Les étiquettes des classes se trouvent dans le fichier labels.txt.
Nous allons comparer plusieurs méthodes d'apprentissage :
1. KNN  
```python
from sklearn.neighbors import KNeighborsClassifier
clf = KNeighborsClassifier(n_neighbors= XXX)
#  Hyperparametre a regler : n_neighbors.
```
2. Arbres de décision
```python
from sklearn import tree
clf = tree.DecisionTreeClassifier()
```
3. SVM à noyau linéaire
```python
— from sklearn.svm import SVC
clf = SVC(kernel = ’linear’)
```
4. SVM à noyau rbf
```python
from sklearn.svm import SVC
clf = SVC(gamma= XXX, kernel = ’rbf’)
#  Hyperparametre a regler : gamma.
```

In [1]:
## Import librairies
import pandas as pd
import numpy as np

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split, cross_val_score

In [2]:
# read data

columns_of_dataset= ['relative_compactness', 'surface_area', 'wall_area', 'roof_area', 'overall_height', 'orientation', 'glazing_area', 'glazing_area_distribution', 'Yheat', 'Ycool']

# The correct delimiter here is spaces so \s+ works correctly
data = pd.read_csv("ENB2012_data.dat", header=None, delimiter='\s+' , names=columns_of_dataset)

# read labels
target = np.loadtxt('labels.txt', dtype='int')

data.head()

,relative_compactness,surface_area,wall_area,roof_area,overall_height,orientation,glazing_area,glazing_area_distribution,Yheat,Ycool
0,0.98,514.5,294.0,110.25,7.0,2,0.0,0,15.55,21.33
1,0.98,514.5,294.0,110.25,7.0,3,0.0,0,15.55,21.33
2,0.98,514.5,294.0,110.25,7.0,4,0.0,0,15.55,21.33
3,0.98,514.5,294.0,110.25,7.0,5,0.0,0,15.55,21.33
4,0.90,563.5,318.5,122.50,7.0,2,0.0,0,20.84,28.28